.header {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 20px;
}

.search {
  display: flex;
}

.Modal-Structure {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 260;
  height: 150px;
  margin: 20px 0px;
  
}

.modal {
  width: fit-content;
  margin: auto
}

.name-filter-text {
  size: 20px;
  font-size: 12px;
  width: 200px;
  height: 30px;
  border-radius: 3px;
  margin-left: 12px;
  
}

.map-card {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  
}

.card {
  border: 2px solid black;
}

.details {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.rating {
  border-bottom: 2px solid black;
}

.description {
  border-top: 2px solid black;
  text-align: center;
}

.Add {
  width: 80px; 
  height: 50px;
  
}


/* .App {
  display: flex;
  justify-content: space-evenly; 
} */